dadada

.container {
    padding: 10px 10%;

}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo{
    width: 140px;

}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}